.version-color{
  color: #ffffff;
}

.fondo{
  background-image: url('../nieve2.png');
  background-size: cover;
  background-repeat: repeat;
  animation: nieve 60s infinite linear;

}

@keyframes nieve {
  from {
    background-position: center;
  }

  to {
    background-position: -1500px top;
  }
}

.header-inicio{
    text-align: center;
    background-color: #ffffff;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: black;
}

.boton-inicio {
    display:block;
    width:100px;
    height:100px;
    line-height:80px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#278620;
    text-decoration:none;
    background-image: url(https://preview.ibb.co/n3pJdV/bolamod.png);
    background-size: cover;
    background-repeat: repeat;
    box-shadow: -.75em -.25em 0 0 rgba(0,0,0,.1) inset,
    .2em .1em 0 0 rgba(255,255,255,.2) inset;
    animation: bolas 40s infinite linear;
    text-align: center;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size:20px;
    font-weight:bold;

}
.boton-inicio:hover {
    background-image: url(https://preview.ibb.co/n3pJdV/bolamod.png);  
    background-size: cover;
    background-repeat: repeat;
}

  @keyframes bolas {
    from {
      background-position: left center;
    }
  
    to {
      background-position: -800px center;
    }
  }
  